.panel.panel-default {
    /*height: 100%;*/
    height: auto;
}
.panel--top-section{
    background: url(/app/assets/images/home-header-bg.jpg) no-repeat;
    background-size: cover;
    /*height: calc(100% - 200px);*/
    height: 800px;
    position: relative;
}
.panel--top-section:after{
    content: '';
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.panel-header {
    position: relative;
    z-index: 5;
    width: 1300px;
    margin: 0 auto;
}
.flex-container {
    display: inline-flex;
    width: 49%;
}
.flex-container.right {
    justify-content: flex-end;
}
.header-font {
    color: #808080;
    font-size: 1.3em;
    margin: 25px 0;
}
.header-font span {
    color: #00A69C;
}
.panel-header a {
    color: #808080;
    padding: 5px 2px;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 300;
    position: relative;
}
.panel-header a.active {
    color: #00A69C;
}
.panel-header a:after {
    position: absolute;
    content: '';
    width: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #00A69C;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.panel-header a:hover:after,
.panel-header a.active:after {
    width: 100%;
}
.panel-heading {
    position: absolute;
    height: auto;
    top: calc(50% - 155px);
    left: 50%;
    z-index: 5;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.panel-heading img{
    width: 175px;
    height: 175px;
}

.panel-body {
    position: absolute;
    text-align: center;
    color: #00A69C;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 700px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.panel-body p,
.panel-footer p{
    color: #808080;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.009em;
    line-height: 1.4;
}
.panel--bottom-section {
    position: relative;
    background: rgb(238, 238, 238);
    height: 200px;
}
.panel-footer {
    position: absolute;
    top: -190;
    z-index: 5;
    width: 1050px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #ffffff;
    padding: 40px 40px;
}
.panel-footer--serach {
    position: relative;
}
.panel-footer .input{
    width: 100%;
    border: none;
    color: #bdbdbd;
    border-bottom: 3px solid #00A69C;
    font-size: 2.5em;
    padding: 10px 0;
}
.panel-footer .input:focus{
    outline: none !important;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}
.panel-footer .input ~ .focus-border {
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    width: 0;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
.panel-footer .input:focus ~ .focus-border {
    width: 100%;
    left: 0;
    background: #444444;;
    height: 2px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bdbdbd;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bdbdbd;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bdbdbd;
}
.btn.btn-primary{
    width: 50%;
    border-color: transparent;
    background-color: lightgrey;
    color: #00A69C;
    font-weight: 600;
    letter-spacing: 2px;
    height: 30px;
    margin-top: 10%;
    margin-left: 25%;
    cursor: pointer;
}
.btn.btn-primary:hover{
    color: #ffffff;
    background-color: #00A69C;
    -webkit-transition-delay: 50ms; /* Safari */
    transition-delay: 50ms;
}
.panel-footer p {
    letter-spacing: 0;
    line-height: 1.6;
    font-size: 1.4em;
    font-weight: 100;
}
.panel-footer p > span {
    font-weight: 100;
    margin: 0 1px;
    cursor: pointer;
}
.panel-footer p > span:hover {
    color: #00A69C;
}