<div class="panel panel-default">
    <div class="panel-heading">
        <img src="../../app/assets/img/logo.png" alt="image">
    </div>
    <div class="panel-body">
        <h1>UpAhead</h1>
        <p>UpAhead is a new app that lets you find the right gear shop for your next adventure.</p>
    </div>
    <div class="panel-footer">
        <input class="input" type="text" placeholder="Look for a shop...">
        <button type="button" class="btn btn-primary">Search</button>
    </div>
</div>
                        