* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2;
    line-height: 1.25em;
    color: #404040;
    margin: 0;
}
.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 70px;
}

/* Left menu container */
.panel--menu {
    position: relative;
}
.panel--menu-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: #ffffff;
}
.panel--menu-container ul {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel-header p,
.panel--menu-container li a {
    color: #828282;
    padding: 5px 2px;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: normal;
}
.panel--menu-container li {
    padding: 35px 0;
    margin: 0 -20px;
    transform: rotate(-90deg);
}
.panel--menu-container li a {
    text-decoration: none;
    position: relative;
}
.panel--menu-container a:after {
    position: absolute;
    content: '';
    width: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #00A69C;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.panel--menu-container a:hover:after,
.panel--menu-container a.active:after {
    width: 100%;
}
/* Header container*/
.panel--top-section{
    background: url(../images/home-header-bg.jpg) no-repeat;
    background-position-y: 30%; 
    background-size: cover;
    position: relative;
    padding-left: 70px;
}
.panel--top-section:after{
    content: '';
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.flex-item {
    flex-grow: 1;
    display: inline-flex;
}
.flex-item.right {
    justify-content: flex-end;
    text-align: right;
}
.panel-header img {
    width: 72px;
    height: 72px;
    display: inline-block;
    padding-right: 10px;
}
.panel-header {
    position: relative;
    z-index: 5;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
.header-font {
    color: #828282;
    font-size: 2.125em;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    margin: 15px 0;
}
.header-font span {
    color: #00A69C;
    font-weight: normal;
}
/* Search input*/
.panel-serach {
    position: relative;
    padding: 0 20px;
}
.panel-serach .input{
    width: 100%;
    border: none;
    color: #aaaaaa;
    background: transparent;
    border-bottom: 4px solid #00A69C;
    font-size: 2.25em;
    font-weight: normal;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;

}
.panel-serach .input:focus{
    outline: none !important;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}
.panel-serach .input ~ .focus-border {
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    width: 0;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}
.panel-serach .input:focus ~ .focus-border {
    width: calc(100% - 40px);
    left: 20px;
    background: #444444;
    height: 4px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bdbdbd;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bdbdbd;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bdbdbd;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 40px;
    }
    .panel--top-section {
        padding-left: 55px;
    }
    .panel-header img {
        width: 65px;
        height: 65px;
        padding-right: 0;
    }
    .header-font {
        font-size: 1.7em;
    }
    .panel-header p, .panel--menu-container li a {
        font-size: 1.15em;
        margin: 5px 20px 0 0;
    }
    .panel--menu-container li a {
        margin: 0 20px 0 15px;
    }
    .panel-serach .input {
        font-size: 2em;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        padding: 0 0 0 40px;
    }
    .panel-header {
        display: block;
        padding: 10px 0;
    }
    .flex-item {
        margin: 5px 0;
        width: 100%;
    }
}
@media screen and (max-width: 567px) {
    .wrapper {
        padding: 0 0 0 20px;
    }
    .panel-header {
        padding: 10px 0;
    }
    .panel-header p {
        font-size: 1em;
        margin: 5px 10px 0 40px;
    }
    .panel--menu-container li {
        padding: 25px 0;
        margin: 0 -20px;
    }
    .panel--menu-container li a {
        font-size: 0.9em;
        margin: 0 17px 0 13px;
    }
    .panel--top-section {
        padding-left: 35px;
    }
    .panel-header img {
        width: 50px;
        height: 50px;
    }
    .header-font {
        font-size: 1.5em;
        margin: 10px 0;
    }
    .panel-serach .input {
        font-size: 1.5em;
        padding: 5px 0;
    }
}