
    <article class="vender-prw">
        <div class="top-container" *ngIf="model.photoUrl">
            <img src="{{ model.photoUrl }}" alt="">
            <div class="vender-name">{{model.name}}</div>
        </div>
        <div class="top-container" *ngIf="!model.photoUrl">
            <img src="../../../media/fail-img.jpg" alt="">
            <div class="vender-name">{{model.name}}</div>
        </div>
        <div class="btm-container">
            <div class="distance"><img src="../icon/location.png"> {{model.distance}} m </div>
            <div class="btn btn-view" (click)="toVendor()" [id]="id">View</div>
        </div>
    </article>
   


