
<article>
    <div class="btm-container">
        <div class="img-container">
            <!-- *ngIf="!model.photoUrl" -->
            <img src="http://placehold.it/500x300" alt="">
        </div>
        <div class="desc-container">
            <div class="distance"><!-- <img src="../icon/location.png"> --> {{model.distance}} m </div>
            <div class="vender-name">{{model.name}}</div>
            <div class="btn btn-view" (click)="toVendor()">shoes sport t-shirts ...</div>
        </div>
    </div>
</article>