.top-container {
	padding-left: 70px;
	position: relative;
}
.top-container .img-container img {
	width: 100%;
	height: 600px;
	object-fit: cover;
}
.top-container:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.75);
	z-index: 1;
}
.top-container .quote {
	position: absolute;
	text-align: center;
	z-index: 5;
	top: calc(50% - 50px);
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 700px;
}
.top-container .quote img {
	padding-bottom: 20px; 
	width: 100px;
	height: 122px;
}
.place-quote {
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.625em;
	color: #828282;
}
.main-container {
	background: #eeeeee;
	padding-bottom: 30px;
}
.place-desc {
	position: relative;
	z-index: 10;
	top: -100px;
	margin-bottom: -150px;
}
.text-box {
	background: #ffffff;
	padding: 25px 30px;
	margin: 30px auto;
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 800px;
}
.text-box:first-child {
	margin-top: 0;
}
.text-box.center {
	text-align: center;
}
.text-box.links {
	padding: 25px 30px 50px;
}
.text-box .text {
	font-weight: 300;
	font-size: 22px;
	line-height: 1.25;
	letter-spacing: 0.22px;
	color: #9D9D9D;
	text-align: justify;
	text-decoration: none;
}
.text-box .left {
	float: left;
}
.text-box .right {
	float: right;
}
.distance {
	font-weight: normal;
	font-size: 1.375em;
	line-height: 1.15;
	letter-spacing: 0.22px;
	color: #00A69C;
}
.tags {
	font-weight: 300;
	font-size: 1.375em;
	line-height: 1.25;
	letter-spacing: 0.22px;
	color: #9D9D9D;
}
.name {
	font-weight: bold;
	display: inline-block;
	font-size: 3em;
	color: #444444;
	line-height: 1;
	padding: 20px 50px 20px 10px;
	position: relative;
}
.place-name button {
	background: transparent;
	border: none;
	position: relative;
	top: 5px;
}
.place-name button img {
	width: 40px;
}
.sebm-google-map-container {
  height: 500px;
}

@media screen and (max-width: 1024px) {
    .top-container {
    	padding-left: 50px;
    }
    .top-container .img-container img {
    	height: 550px;
    }
    .top-container .quote img {
		width: 80px;
		height: 95px;
	}
	.place-quote {
		font-size: 1.5em;
		padding-left: 40px;
	}
	.place-desc {
		left: 15px;
	}
	.text-box {
		width: 550px;
	}
	.name {
		font-size: 2.5em;
	}
	.distance, .tags {
		font-size: 1.2em;
	}
	.place-name button img {
		width: 35px;
	}
	.text-box .text {
		font-size: 16px;
	}
}
@media screen and (max-width: 767px) {
    .top-container .quote img {
		width: 60px;
		height: 70px;
	}
	.place-quote {
		font-size: 1.3em;
	}
	.top-container .quote {
		width: 500px;
	}
	.place-desc {
		left: 5px;
	}
	.text-box {
		width: 400px;
	}
	.name {
		font-size: 2.2em;
	}
	.distance, .tags {
		font-size: 1.1em;
	}
	.place-name button img {
		width: 35px;
	}
	.text-box .text {
		font-size: 18px;
	}
	.sebm-google-map-container {
		height: 400px;
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 567px) {
	.top-container {
    	padding-left: 35px;
    }
    .top-container .img-container img {
    	height: 500px;
    }
    .top-container .quote img {
		width: 60px;
		height: 70px;
		padding-left: 30px;
	}
	.place-quote {
		font-size: 1.1em;
	}
	.top-container .quote {
		width: 300px;
	}
	.place-desc {
		left: 8px;
	}
	.text-box {
		width: 230px;
		padding: 25px 15px;
	}
	.place-name button img {
		width: 30px;
	}
	.name {
		font-size: 2.0em;
		padding: 15px 10px 15px 0; 
	}
	.distance, .tags {
		font-size: 0.8em;
	}
	.place-name button img {
		width: 35px;
	}
	.text-box .text {
		font-size: 14px;
	}
	.text-box.links {
		width: 200px;
		padding: 25px 30px 15px;
	}
	.text-box .left,
	.text-box .right {
		float: none;
		text-align: center;
		padding-bottom: 10px;
	}
	.sebm-google-map-container {
		height: 300px;
	}
}